body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
}
input, select {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

/* custom dropdown arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
    cursor: pointer;
}

/* focus effect */
input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}
input:hover, select:hover {
    border-color: #4CAF50;
}

.back-btn {
    position: fixed;      /* sticks to page */
    top: 20px;
    left: 20px;

    background: #444;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    z-index: 1000;
}

.back-btn:hover {
    background: #222;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table th {
    background: #2f7df6;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.result-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.section-title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
}

.summary-box {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 15px;
}

.summary-box p {
    margin: 6px 0;
}

.student-info {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 12px;
    background: #f3f7ff;
    border: 1px solid #c7d9ff;
    border-radius: 6px;
    font-size: 15px;
}

.student-info p {
    margin: 4px 0;
}
